* {
	  box-sizing: border-box;
	  margin:0px;
}
body{
	background-image:url("./images/background.jpg")
}
.container {
	//border: 1px solid black;
    width: 1060px;
    min-width: 400px;
   // margin-left: 150px;
    height: 4280px;
    align-items: center;
    margin: 20px auto;
    background-image:url("./images/background.jpg")
}

.header-container {
	border-bottom: 1px solid black;
	width: 1060px;
	height: 150px;
}

.hpubimage {
	width: 100%;
    height: 270px;
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logopicture {
	    height: 294px;
   
    margin-top: -59px;
    margin-left: -120px;

}

.socialmedia {
	margin-right: 5px;
	position: relative;
	top: 40px;
 }

.socialmedia-logos {
	height: 30px;
	width: 30px;
	position: relative;
	float: right;
	bottom: 58px;
}

.logobox {
	height: 100px;
	width: 100px;
	//border: 1px solid;
}

.news-Box {
	height: 275px;
	width: 320px;
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 8px;
	// float:left;
	margin-left: 60px;
	display: inline-block;
	vertical-align: top;

}

.date {
	float: right;
    margin-top: -18px;
    font-style: italic;
    font-weight: bold;
}

h4 {
	border-bottom: 1px solid;
	padding: 6px;
}

.news-Title {
	font-style: italic;
	font-weight: bold;
}

.google-Box {
	    height: 275px;
    width: 320px;
    border: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    // float: left;
    display: inline-block;
    vertical-align: top;
}

.special-Box {
	// float: left;
    height: 275px;
    width: 320px;
    border: solid 1px;  
    display: inline-block;
    vertical-align: top;

}

.our-Location {
	border-bottom: 1px solid;

}

.tabs-container{
    height: 1000px;
    width: 650px;
    border: 1px solid black;
    margin: 8px 60px;
        padding: 25px;
}

.hidden{
	display:none;
}

#story {
	
}

.menuItems{
	    position: relative;
    top: 12px;
    margin-bottom: 0px;
    left: 5px;
}

.descriptionitems{

        border: solid 1px;
    font-size: 15px;
    text-align: left;
    padding: 7px;
    line-height: 19px;
    border: none;
    border-bottom: solid 1px;
    
}

.priceItems{
       
        position: relative;
    left: 565px;
    bottom: 7px;
}

.appetizers{
        font-size: 25px;
    margin-bottom: 15px;
    border: none;
    /* text-align: center; */
    border-bottom: solid;

}

.tabBox{
	   border: solid 1px;
    margin-top: 0px;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.tab-button{
	padding:10px 30px;
}
.tabs{    text-align: center;
    /* width: 494px; */
    width: 655px;
    margin: 20px 0px 0px 60px;
    padding: 12px;
    /* margin-top: 1px; */
    border: solid;
}
.story{
	text-align:left;
}
.entrees{
	font-size:25px;
}
